!!!html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width; initial-scale=1'}
    %meta{name: 'generator', content: ['Nanoc', Nanoc::VERSION].join(' ')}
    %link{rel: 'stylesheet', href: @config[:base_url] + '/css/main.css'}
    %title
      - if @item[:title]
        = succeed ' &raquo;' do
          = @item[:title]

      catstret.ch

  %body
    = render '/partials/navigation.haml'

    %main
      = render '/partials/breadcrumbs.haml'
      = yield
